/* CENTER VERTICALLY */
/* MEDIA QUERIES (ADD IF MORE ARE NEEDED) */
/* KEYFRAMES */
/* CLEARFIX MIXIN */
section {
  zoom: 1;
}

section:before, section:after {
  content: " ";
  display: table;
}

section:after {
  clear: both;
}

/* INPUT PLACEHOLDER */
/* CENTER VERTICALLY */
/* MEDIA QUERIES (ADD IF MORE ARE NEEDED) */
/* KEYFRAMES */
/* CLEARFIX MIXIN */
section {
  zoom: 1;
}

section:before, section:after {
  content: " ";
  display: table;
}

section:after {
  clear: both;
}

/* INPUT PLACEHOLDER */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #fbf4d2;
}

section {
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
p,
li {
  margin: 0;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 3.6rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 1280px) {
  .heading {
    font-size: 6.2rem;
  }
}

.paragraph-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 48rem;
  position: relative;
}

@media only screen and (min-width: 360px) {
  .intro {
    min-height: 60rem;
  }
}

@media only screen and (min-width: 600px) {
  .intro {
    height: 75%;
  }
}

.intro .navbar {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 360px) {
  .intro .navbar {
    height: 8rem;
  }
}

.intro .navbar .img-container {
  width: 12%;
  max-width: 55px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro .intro-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 36rem;
}

@media only screen and (min-width: 1024px) {
  .intro .intro-container {
    max-width: 90rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1280px) {
  .intro .intro-container {
    width: 75%;
    max-width: 99rem;
  }
}

.intro .intro-container .img-container {
  width: 40%;
  margin: 2rem auto 2rem;
  opacity: 1;
  -webkit-animation: mobile-intro 0.7s ease-in-out;
          animation: mobile-intro 0.7s ease-in-out;
}

@media only screen and (min-width: 360px) {
  .intro .intro-container .img-container {
    width: 60%;
    max-width: 20rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  .intro .intro-container .img-container {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .intro .intro-container .img-container {
    width: 100%;
    max-width: 27rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6rem;
  }
}

.intro .intro-container .paragraph-text {
  text-align: center;
  color: #22415a;
  font-size: 1.4rem;
  -webkit-animation: fadeIn 0.7s ease-in 0.7s forwards;
          animation: fadeIn 0.7s ease-in 0.7s forwards;
  opacity: 0;
}

@media only screen and (min-width: 360px) {
  .intro .intro-container .paragraph-text {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .intro .intro-container .paragraph-text {
    text-align: left;
    line-height: 1.6;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1280px) {
  .intro .intro-container .paragraph-text {
    font-size: 1.8rem;
  }
}

.intro .arrow-container {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  cursor: pointer;
  -webkit-animation: tiny-hovering 0.6s ease-out infinite alternate, fadeIn 0.7s ease-out 1.4s forwards;
          animation: tiny-hovering 0.6s ease-out infinite alternate, fadeIn 0.7s ease-out 1.4s forwards;
}

@media only screen and (min-width: 360px) {
  .intro .arrow-container {
    bottom: 4%;
    -webkit-animation: hovering 0.6s ease-out infinite alternate, fadeIn 0.7s ease-out 1.4s forwards;
            animation: hovering 0.6s ease-out infinite alternate, fadeIn 0.7s ease-out 1.4s forwards;
  }
}

.intro .arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #555;
}

.capabilities {
  padding-top: 3rem;
  height: 120rem;
}

@media only screen and (min-width: 794px) {
  .capabilities {
    height: 158vw;
  }
}

@media only screen and (min-width: 1440px) {
  .capabilities {
    height: 130vw;
  }
}

.capabilities img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.capabilities #purple-bubble {
  width: 170%;
  min-width: 135rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #purple-bubble {
    width: 142%;
  }
}

.capabilities #ltblue-bubble {
  width: 158.334%;
  min-width: 126.6rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #ltblue-bubble {
    width: 133%;
  }
}

.capabilities #orange-bubble {
  width: 146.666%;
  min-width: 118.2rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #orange-bubble {
    width: 126%;
  }
}

.capabilities #yellow-bubble {
  width: 135%;
  min-width: 109.8rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #yellow-bubble {
    width: 119%;
  }
}

.capabilities #green-bubble {
  width: 123.333%;
  min-width: 101.4rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #green-bubble {
    width: 112%;
  }
}

.capabilities #blue-bubble {
  width: 111.666%;
  min-width: 93rem;
}

@media only screen and (min-width: 1440px) {
  .capabilities #blue-bubble {
    width: 103%;
  }
}

.capabilities .text-container {
  width: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.capabilities .text-container .heading {
  margin-bottom: 1.2rem;
  color: #fbf4d2;
}

@media only screen and (min-width: 1024px) {
  .capabilities .text-container .heading {
    margin-bottom: 2rem;
  }
}

.capabilities .text-container ul {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: white;
}

.capabilities .text-container ul li {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .capabilities .text-container ul li {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1280px) {
  .capabilities .text-container ul li {
    font-size: 2rem;
  }
}

.collaborate {
  width: 100%;
  margin-top: -20%;
}

@media only screen and (min-width: 600px) {
  .collaborate {
    margin-top: -10%;
  }
}

.collaborate .heading {
  margin-bottom: 2rem;
  color: #22415a;
  line-height: 1.2;
}

.collaborate form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  max-width: 36rem;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .collaborate form {
    width: 45%;
    max-width: 60rem;
  }
}

.collaborate form .text-input {
  width: 100%;
  height: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #22415a;
  color: #e86028;
  background-color: transparent;
  border-radius: 3px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
}

.collaborate form .text-input::-webkit-input-placeholder {
  color: #22415a;
  opacity: 1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.collaborate form .text-input::-ms-input-placeholder {
  color: #22415a;
  opacity: 1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.collaborate form .text-input:-ms-input-placeholder {
  color: #22415a;
  opacity: 1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.collaborate form .text-input::placeholder {
  color: #22415a;
  opacity: 1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.collaborate form .text-input:focus {
  color: #e86028;
}

@media only screen and (min-width: 1024px) {
  .collaborate form .text-input {
    height: 4rem;
    margin-bottom: 1rem;
  }
}

.collaborate form .custom-select {
  width: 100%;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.collaborate form .custom-select select {
  display: none;
}

.collaborate form .select-selected {
  background-color: transparent;
}

.collaborate form .select-selected:after {
  position: absolute;
  content: "";
  top: 1.4rem;
  right: 1rem;
  width: 0;
  height: 0;
  border: 6px solid #22415a;
  border-color: #22415a transparent transparent transparent;
}

.collaborate form .select-selected.select-arrow-active:after {
  border-color: transparent transparent #22415a transparent;
  top: 0.7rem;
}

.collaborate form .select-selected {
  color: #22415a;
  padding: 1rem 1.6rem;
  border: 1px solid #22415a;
  border-radius: 3px;
  cursor: pointer;
}

.collaborate form .select-items div {
  border-bottom: 1px solid #22415a;
  color: #22415a;
  padding: 1rem 1.6rem;
  border-left: 1px solid #22415a;
  border-right: 1px solid #22415a;
  border-bottom: 1px solid #22415a;
  border-radius: 3px;
  cursor: pointer;
}

.collaborate form .select-items {
  position: absolute;
  background-color: #fbf4d2;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.collaborate form .select-hide {
  display: none;
}

.collaborate form .select-items div:hover,
.collaborate form .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.collaborate form .lets-talk {
  width: 11rem;
  display: block;
  margin: 2rem auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 1.6rem;
  background-color: #e86028;
  cursor: pointer;
  -webkit-transition: 0.4s background-color;
  transition: 0.4s background-color;
}

.collaborate form .lets-talk:hover {
  background-color: #ff811f;
}

footer {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 1440px) {
  footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

footer .img-container {
  width: 65%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

footer .social-link {
  margin-top: 3rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  display: inline-block;
}

footer .social-link img {
  width: auto;
  height: 1.6rem;
}

.hidden {
  opacity: 0;
}

.fadeIn-bubble {
  -webkit-animation: fadeIn 0.7s forwards;
          animation: fadeIn 0.7s forwards;
}

.fromTop {
  -webkit-animation: fromTop 0.7s forwards;
          animation: fromTop 0.7s forwards;
}

.slideLeft {
  -webkit-animation: slideLeft 0.7s forwards;
          animation: slideLeft 0.7s forwards;
}

.grow {
  -webkit-animation: growth 0.7s forwards;
          animation: growth 0.7s forwards;
}

@-webkit-keyframes tiny-hovering {
  to {
    bottom: 1%;
  }
}

@keyframes tiny-hovering {
  to {
    bottom: 1%;
  }
}

@-webkit-keyframes hovering {
  to {
    bottom: 3%;
  }
}

@keyframes hovering {
  to {
    bottom: 3%;
  }
}

@-webkit-keyframes mobile-intro {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes mobile-intro {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulsate {
  50% {
    width: 150rem;
  }
  100% {
    width: 135rem;
  }
}

@keyframes pulsate {
  50% {
    width: 150rem;
  }
  100% {
    width: 135rem;
  }
}

@-webkit-keyframes bubblePulse {
  50% {
    width: 175%;
  }
  100% {
    width: 170%;
  }
}

@keyframes bubblePulse {
  50% {
    width: 175%;
  }
  100% {
    width: 170%;
  }
}

@-webkit-keyframes largerPulse {
  50% {
    width: 145%;
  }
  100% {
    width: 140%;
  }
}

@keyframes largerPulse {
  50% {
    width: 145%;
  }
  100% {
    width: 140%;
  }
}

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    opacity: 0;
  }
}

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    opacity: 0;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
    opacity: 0;
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
    opacity: 0;
  }
}

@-webkit-keyframes growth {
  from {
    width: 0;
  }
}

@keyframes growth {
  from {
    width: 0;
  }
}
/*# sourceMappingURL=main.css.map */